In [1]:
import pandas as pd

In [4]:
data_path = "../data/Churn_Modelling.csv"
df_teste = pd.read_csv(data_path)

model = pd.read_pickle("../model/churn_model.pkl")

pred_prob = model['model'].predict_proba(df_teste[model['features']])
prob_churn = pred_prob[:, 1]
df_teste['prob_churn'] = prob_churn

In [10]:
def risk_level(prob):
        high_risk_prob = 0.7
        intermediate_risk_prob = 0.3

        if prob > high_risk_prob:
            return 'High Risk'
        elif intermediate_risk_prob < prob <= high_risk_prob:
            return 'Intermediate Risk'
        else:
            return 'Low Risk'
    
# Apply the risk classification to the 'prob_churn' column
df_teste['risk_level'] = df_teste['prob_churn'].apply(risk_level)

pd.DataFrame(df_teste[['risk_level', 'Exited']].value_counts()).sort_values('risk_level').reset_index()

          risk_level  Exited  count
0          High Risk       1   1942
1          High Risk       0     54
2  Intermediate Risk       0    379
3  Intermediate Risk       1     74
4           Low Risk       0   7530
5           Low Risk       1     21

In [12]:
df_teste.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,prob_churn
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700,0.264178
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769,0.362612
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.020000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.080000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,0.300000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000